{% extends "base.html" %}
{% load static tailwind_tags %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock extrahead%}

{% block content %}
    <form id="crear-mascota-form" method="POST" class="text-emerald-300 bg-emerald-800 p-2 rounded-md m-4">
        {% csrf_token %}
        <center>
            Nombre: 
            {{form.nombre}}
            <div class="grid laptop:grid-cols-2 tablet:grid-cols-1">
                <div class="bg-emerald-800 m-10 rounded-md">
                    <div class="bg-emerald-600 p-2 rounded-sm m-2">
                        <div class="magmitar_class"></div>
                        <div class="text-emerald-300 text-2xl">Magmitar</div> 
                    </div>
                </div>
                <div class="bg-emerald-800 m-10 rounded-md">
                    <div class="bg-emerald-600 p-2 rounded-sm m-2">
                        <div class="orejon_class"></div>
                        <div class="text-emerald-300 text-2xl">Orejón</div> 
                    </div>
                </div>
            </div>
            <div>
                {{form.tipo_de_sprite}}
            </div>
            <button type="submit">Crear Mascota</button>
        </center>
    </form>
{% endblock content %}
