{% extends "base.html" %}
{% load static tailwind_tags %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/mascotaViewer.js' %}"></script>
{% endblock extrahead%}
{% block content %}
<div class="grid laptop:grid-cols-3 tablet:grid-cols-1">
    {% for mascota in mascotas%}    
        <div class="bg-emerald-700 m-2 rounded-md text-emerald-200">
            <center>
                <h1 class="bg-emerald-950 text-emerald-300 m-1 p-1 rounded-md text-xl">{{mascota.nombre}}</h1>
                <div class="grid grid-cols-2">
                    <div>
                        <h1 class="bg-blue-900 text-emerald-300 m-1 p-1 rounded-md">Felicidad: {{mascota.entretenimiento}}</h1>
                        <h1 class="bg-purple-900 text-emerald-300 m-1 p-1 rounded-md">Higiene: {{mascota.higiene}}</h1>
                    </div>
                    <div>
                        <h1 class="bg-red-900 text-emerald-300 m-1 p-1 rounded-md">Saciedad: {{mascota.saciedad}}</h1>
                        <h1 class="bg-yellow-600 text-emerald-950 m-1 p-1 rounded-md">HP: {{mascota.hp}}</h1>
                    </div>
                    <br>
                </div>
                {% if mascota.hp > 0 %}
                    <div class="sprite text-emerald-50">{{mascota.tipo_de_sprite}}</div>
                {% else %}
                    <img src="{% static "assets/RIP.png" %}"></img>
                    <br>
                {% endif %} 
                <a href="{% url "mascota" pk=mascota.pk %}" class="p-2 m-4 bg-emerald-400 text-emerald-950 rounded-md hover:bg-emerald-950 hover:text-emerald-400 hover:pl-4 hover:pr-4 duration-150">
                    Ver a {{mascota.nombre}}
                </a>
            </center>
            <br>
        </div>
    {% endfor %}
<div>
{% endblock content %}
